.cc{
    background-color: rgb(255, 231, 76);
    border:thick ridge rgb(254, 2, 126);
    padding: 10px 10px; 
    cursor: pointer;
    max-width: 50%;
    align-self: center;
    display: block;
    margin: 20px auto;
}
.cc:hover, .cc:active{
    background-color: rgb(252, 241, 202);
}
.cart_items{
    list-style: none;
}
.cart_items li{
    background-color: rgb(255, 231, 76);
    border:thick ridge rgb(254, 2, 126);
    max-width: 320px;
    float: left;
    margin: 10px 10px;
}
.cart_items li img{
    max-width: 90%;
    margin:10px auto;
}
.cart_items li a{
    text-decoration: none;
    color: #CB399F;
    margin: 1px auto;
}
.cart_items li h2{
    margin: 20px auto;
}
.cart_items li h3{
    margin: 1px auto;
}
.cart_items li h4{
    margin: 1px auto;
}
.cart_items li p{
    margin: 1px auto;
    margin-bottom: 20px;
}
.cart_items li label{
    margin-top: 20px;
}
.cart_items li input{
    font-size: large;
    max-width: 20%;
    margin: 5px auto;
}
.cart_items li a:hover,.cart_items li a:active{
    color: #8D4FA8;
}
.x{
    font-size: 30px;
    text-align: center;
    align-self: center;
    margin: auto;
}