.loginform{
    margin: 50px auto;
    width: 90%;
    padding: 20px;
    background-color: rgba(48, 0, 74,0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 30px;
	font-family: 'Solomon Regular', sans-serif;
}
.loginform input{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 30px;
	font-family: 'Solomon Regular', sans-serif;
}
.loginform button{
    background-color: rgb(96, 0, 148);
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
	font-family: 'Solomon Regular', sans-serif;
}
.loginform button:hover {
    background-color: rgb(150, 0, 250);
}
.loginform a{
    color: white;
	text-decoration: none;
    background-color: rgb(96, 0, 148);
    padding: 5px 5px;
	margin: 0;
    border-radius: 5px;
}
.loginform a:hover,nav a:active{
    background-color: rgb(150, 0, 250);
}
@media all and (min-width: 1500px){
    .loginform{
        font-size: 2vw;
        width: 60%;
    }
    .loginform input{
        font-size: 2vw;
    }
    .loginform button{
        font-size: 2vw;
    }
}