.loginform{
    margin: 50px auto;
    width: 90%;
    padding: 20px;
    background-color: rgb(255, 231, 76);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(254, 2, 126);
    font-size: 30px;
	font-family: 'Solomon Regular', sans-serif;
}
.loginform input{
    width: 90%;
    padding: 10px;
    border: 1px solid rgb(254, 2, 126);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 30px;
	font-family: 'Solomon Regular', sans-serif;
}
.loginform button{
    background-color: rgb(255, 231, 76);
    color: rgb(254, 2, 126);
    border: 2px solid rgb(254, 2, 126);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
	font-family: 'Solomon Regular', sans-serif;
}
.loginform button:hover {
    background-color: rgb(252, 241, 202);
}
.loginform a{
    color: rgb(254, 2, 126);
	text-decoration: none;
    background-color: rgb(255, 231, 76);
    border: 2px solid rgb(254, 2, 126);
    padding: 5px 5px;
	margin: 0;
    border-radius: 5px;
}
.loginform a:hover,nav a:active{
    background-color: rgb(252, 241, 202);
}
.loginform img{
    max-width: 40%;
    max-height: 40%;
    border-style: ridge;
    border-color: rgb(254, 2, 126);
    border-width: 10px;
}
@media all and (min-width: 1500px){
    .loginform{
        font-size: 2vw;
        width: 60%;
    }
    .loginform input{
        font-size: 2vw;
    }
    .loginform button{
        font-size: 2vw;
    }
    .loginform img{
        max-width: 20%;
        max-height: 20%;
    }
}