.tq{
    width: 90%;
    margin: 20px 20px;
    font: large;
}
.rq{
    background-color: rgb(255, 231, 76);
    color: rgb(254, 2, 126);
    border: 2px solid rgb(254, 2, 126);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
	font-family: 'Solomon Regular', sans-serif;
}
.rq:hover{
    background-color: rgb(252, 241, 202);
}
@media all and (min-width: 1500px){
    .tq{
        width: 60%;
    }
}