.ch{
    list-style: none;
}
.ch ul{
    list-style: none; 
} 
.ch div{
    background-color: rgb(255, 231, 76);
    border:thick ridge rgb(254, 2, 126);
    max-width: 90%;
    text-align: center;
    font-size: large;
    align-self: center;
    margin: 20px 20px;
    padding: 20px 20px;
}
.ch div a{
    text-decoration: none;
    color: #CB399F;
}
.ch div a:hover,.ch div a:active{
    color: #8D4FA8;
}
.ch ul li{
    background-color: rgb(255, 231, 76);
    border:thick ridge rgb(254, 2, 126);
    width: 300px;
    text-align: center;
    font-size: large;
    display: inline-block;
    margin: 20px 20px;
    vertical-align: top;
}
.ch ul li img{
    border:thick ridge rgb(254, 2, 126);
    max-width: 90%;
}