<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="icon" href="../static/images/favicon.png">
</head>
<body>
    <script src="../static/js/navbar.js"></script>
    <p id="welcome">Welcome</p>
    <script>
        document.addEventListener("DOMContentLoaded",function() {
            if(!JSON.parse(localStorage.getItem("loggedin"))){
                window.location.href="/login";  
            }
            session=JSON.parse(localStorage.getItem("session_info"));
            document.getElementById("welcome").innerHTML="Welcome "+session._name+" "+session.surname;
        });
    </script>
</body>
</html>